.fr {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.frItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.frImg {
  width: 100%;
}

.frName {
  font-weight: bold;
}

.frCity {
  font-weight: 300;
}

.frPrice {
  font-weight: 500;
}

.frRating > button {
  background-color: #c5e6a9;
  color: #550457;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.frRating > span {
  font-size: 14px;
}
