.cList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.cListItem {
  flex: 1 0 calc(100% - 20px);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.cListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cListTitles > h1 {
  font-size: 18px;
}

.cListTitles > h2 {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .cListItem {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  .cList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .cListItem {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  .cListImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .cListTitles > h1 {
    font-size: 18px;
  }

  .cListTitles > h2 {
    font-size: 15px;
    font-weight: 400;
  }
}
